{% extends 'base.html.twig' %}

{% block title %}présentation{% endblock %}

{% block body %}

    {% include "include/headerPage.html.twig" %}

    </div><!-- bg-header -->
    <div class="flat-about pd-about clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="textbox-about">
                        <div class="title-section">
                            <div class="flat-title medium heading-type18">
                                présentation de l'école PSC 
                            </div>
                        </div>
                        <div class="textbox-content">
                            <div class="about-introduce">
                                <p>
                                    L’école est créée en 2015 par son directeur Beggache Ismail et une équipe de professionnel dans la gestion d’établissements scolaires avec la contribution d’un corps enseignant cumulant une très longue expérience dans l’enseignement.
                                </p>
                                <p>
                                    Depuis sa création l’école s’est spécialisée dans le programme des cycles moyens, compte tenu des résultats positifs et pour répondre aux sollicitations des parents d’élèves la direction a décidé d’élargir son offre d’enseignement au cycle secondaire.
                                </p>
                                <p>
                                 Aujourd’hui, PSC dispose d’un enseignement qui couvre tous les programmes d’enseignement de la 1 eme année du collège jusqu’aux classes de terminales de toutes les filières confondues. L’établissement est doté de ressources pédagogiques, moyens techniques et logistiques les plus modernes.
                                </p>
                                <p>
                                    L’établissement est doté de ressources pédagogiques, moyens techniques et logistiques les plus modernes.
                                </p>
                                <p>
                                    L’école étend actuellement ses activités en offrant aux étudiants des voyages de divertissement.      
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="iconbox-about">
                        <div class="iconbox-about-wrap clearfix">
                            <div class="list-1">
                                <div class="iconbox iconbox-teacher">
                                    <div class="counter">                      
                                        <div class="content-counter">
                                            <div class="numb-count bg-cl25cf71" data-from="0" data-to="20" data-speed="2000" data-inviewport="yes">20</div>
                                            <div class="name-count">Enseignants</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="iconbox iconbox-students">
                                    <div class="counter">                            
                                        <div class="content-counter">
                                            <div class="numb-count bg-cla476b4" data-from="0" data-to="2" data-speed="2000" data-inviewport="yes">2</div>
                                            <div class="name-count">étudiants</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-2">
                                <div class="iconbox iconbox-courses">
                                    <div class="counter">                            
                                        <div class="content-counter">
                                            <div class="numb-count bg-clffbe34" data-from="0" data-to="4" data-speed="2000" data-inviewport="yes">4</div>
                                            <div class="name-count">Cours</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- flat-about -->
    <div class="edukin-introduce equalize sm-equalize-auto clearfix">
        <div class="element-col50 bg-element1 element-text">
            <div class="title-section">
                <div class="flat-title medium heading-type18 text-white">
                    Un mot du directeur 
                </div>
            </div>
            <p>
                 Comme toutes les écoles PRO SOLUTION CENTER est un espace d'éducation, de connaissance et de culture. Dans cet espace, nous le développerons et le partagerons avec les élèves, leurs parents, les enseignants et le personnel administratif. Nous voulons que cet espace soit intelligent, efficace et surtout facile à utiliser. Nous voulons aussi qu'elle soit portée par un ensemble de valeurs et de traditions que nous avons bâties au cours de ces cinq années et qui tournent autour d'un mot clé: le respect.          
            </p>
            <p>
            <li>
            Le respect que nous devons aux parents pour ce qu’ils ambitionnent pour leur enfant.
            <li>
            Le respect dû aux enseignants pour le savoir qu’ils prodiguent ;
            <li>
            Le respect que les élèves doivent accorder aux ainés et à la vie en communauté .
            <li>
            Et le respect a toute l’équipe qui m’entoure et m’assiste pour élever notre école, à la hauteur de toutes nos inspirations .
            </li>
            </p>
            <p>Fondateur Mr BEGGACHE ISSMAIL</p>
        </div>
        <div class="element-col50 bg-element2 element-bg">
            <div class="flat-spacer" data-desktop="0" data-mobi="400" data-smobi="300"></div>
        </div>
        <div class="element-col50 bg-element3 element-bg">
            <div class="flat-spacer" data-desktop="0" data-mobi="400" data-smobi="300"></div>
        </div>
        <div class="element-col50 bg-element4 element-text">
            <div class="title-section">
                <div class="flat-title medium heading-type19 text-white">
                     objectif de l'école !
                </div>
            </div>
            <p>
                Dans un esprit de travail d’équipe, nous visons la réussite de tous nos élèves tout en respectant leur rythme et leur style d’apprentissage et afin  de remplir notre mission en poursuivant les objectifs suivants:
            </p>
            <p>
                L'affirmation de la personnalité algérienne,
            </p>
            <p>
                La formation à la citoyenneté,
            </p>
            <p>
                L’ouverture et l'intégration au mouvement universel de progrès et 
            </p>
            <p>
                La réaffirmation du principe de démocratisation de renseignement.
            </p>
        </div>
    </div><!-- edukin-introduce -->
    <br><br>
    <br><br>
{% include "include/footerPage.html.twig" %}

{% endblock %}
