
    <footer id="footer" class="footer-type2">
        <div class="form-send-email">
            <div class="container">
            </div>
        </div>
        <div id="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-footer">
                       <div class="logo-footer">
                           <img src="{{asset('asset/img/images/logo/07.png')}}" alt="images">
                       </div>
                    </div>
                    <div class="col-lg-3 col-company">
                        <h3 class="widget widget-title text-white">
                            {{ 'calendar_Appointment.Add_Appointment'|trans}}
                        </h3>
                        <ul class="widget-nav-menu">
                            <li><a href="#">cours</a></li>
                            <li><a href="#">présentation </a></li>
                            <li><a href="#">évènement</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-link">
                        <h3 class="widget widget-title text-white">
                            cours
                        </h3>
                        <ul class="widget-nav-menu">
                            <li><a href="#">cours par niveau</a></li>
                            <li><a href="#">cours de soutien</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-course">
                        <h3 class="widget widget-title text-white">
                            liens d'aide
                        </h3> 
                        <ul class="widget-nav-menu">
                            <li><a href="#">soutien aux étudiant</a></li>
                            <li><a href="#">politique du cours</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-media">
                        <h3 class="widget widget-title text-white">
                            Des médias sociaux
                        </h3>
                        <ul class="widget-social-media">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom" class="bottom-type2 clearfix has-spacer">
            <div id="bottom-bar-inner" class="container">
                <div class="bottom-bar-inner-wrap">
                    <div class="bottom-bar-content">
                        <div id="copyright">
                            © 
                            <span class="text-year">
                                2020
                            </span>
                            <span class="text-name">
                                psc
                            </span>
                            <span class="license">
                                <a href="#">Tous les droits sont réservés.</a>
                            </span>
                        </div>
                    </div>
                    <div class="bottom-bar-menu">
                        <ul class="bottom-nav">
                            <li class="menu-item"><a href="#">l'école</a></li>
                            <li class="menu-item"><a href="#">Politique de confidentialité</a></li>
                            <li class="menu-item"><a href="#">Centre d'aide</a></li>
                            <li class="menu-item"><a href="#">termes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a id="scroll-top" class="show"></a>
    </footer><!-- footer -->