<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		

        <title>{% block title %}ecole prive{% endblock %}</title>

        {% block stylesheets %}

            {% include "include/indexCssAdmin.html.twig" %}
            
        {% endblock %}

    </head>
    <body>

        {% block body %}


        {% endblock %}

        {% block javascripts %}

            {% include "include/indexJsAdmin.html.twig" %}

        {% endblock %}

    </body>
</html>
